In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

# 1. Set up the MySQL connection enviroment

In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Define connection parameters
username = 'root'
password = 'password'
hostname = 'localhost'
database_name = 'bank'

# MySQL connection string using mysql-connector-python
connection_parameter = f'mysql+mysqlconnector://{username}:{password}@{hostname}/{database_name}'

# Create a SQLAlchemy engine
engine = create_engine(connection_parameter)

# SQL query to select data from a table
sequel_query = 'SELECT * FROM loan_data'

# Load data into a DataFrame
bank_df = pd.read_sql(sequel_query, engine)

### 2. Display top 5 rows of the dataset

In [5]:
bank_df.sample(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
552,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
713,LP001644,,Yes,0,Graduate,Yes,674,5296,168,360,1,Rural,Y
376,LP002361,Male,Yes,0,Graduate,No,1820,1719,100,360,1,Urban,Y
626,LP001289,Male,No,0,Graduate,No,8566,0,210,360,1,Urban,Y
1138,LP002297,Male,No,0,Graduate,No,2500,20000,103,360,1,Semiurban,Y
671,LP001504,Male,No,0,Graduate,Yes,6950,0,175,180,1,Semiurban,Y
644,LP001384,Male,Yes,3,Not Graduate,No,2071,754,94,480,1,Semiurban,Y
176,LP001674,Male,Yes,1,Not Graduate,No,2600,2500,90,360,1,Semiurban,Y
136,LP001535,Male,No,0,Graduate,No,3254,0,50,360,1,Urban,Y
475,LP002731,Female,No,0,Not Graduate,Yes,18165,0,125,360,1,Urban,Y

In [6]:
# Check the columns name in the dataframe (bank_df)
print(f"These are the columns in the dataset {bank_df.columns}")

These are the columns in the dataset Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

Loan_ID : Unique Loan ID

Gender : Male/ Female

Married : Applicant married (Y/N)

Dependents : Number of dependents

Education : Applicant Education (Graduate/ Under Graduate)

Self_Employed : Self employed (Y/N)

ApplicantIncome : Applicant income

CoapplicantIncome : Coapplicant income

LoanAmount : Loan amount in thousands of dollars

Loan_Amount_Term : Term of loan in months

Credit_History : Credit history meets guidelines yes or no

Property_Area : Urban/ Semi Urban/ Rural

Loan_Status : Loan approved (Y/N) this is the target variable

In [7]:
#Check the shape of the dataset(i.e total number of row and columns)
data_shape = bank_df.shape
print(f"The dataset has {data_shape[0]} colunms and {data_shape[1]} rows")

The dataset has 1142 colunms and 13 rows

In [8]:
# Check for data type and number of null value
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1142 entries, 0 to 1141
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            1142 non-null   object
 1   Gender             1142 non-null   object
 2   Married            1142 non-null   object
 3   Dependents         1142 non-null   int64
 4   Education          1142 non-null   object
 5   Self_Employed      1142 non-null   object
 6   ApplicantIncome    1142 non-null   int64
 7   CoapplicantIncome  1142 non-null   int64
 8   LoanAmount         1142 non-null   object
 9   Loan_Amount_Term   1142 non-null   int64
 10  Credit_History     1142 non-null   int64
 11  Property_Area      1142 non-null   object
 12  Loan_Status        1142 non-null   object
dtypes: int64(5), object(8)
memory usage: 116.1+ KB

In [9]:
# Convert LoanAmount column to numeric type with missing values coerced to <NA>
bank_df['LoanAmount'] = pd.to_numeric(bank_df['LoanAmount'], errors='coerce').astype('Int64')
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1142 entries, 0 to 1141
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            1142 non-null   object
 1   Gender             1142 non-null   object
 2   Married            1142 non-null   object
 3   Dependents         1142 non-null   int64
 4   Education          1142 non-null   object
 5   Self_Employed      1142 non-null   object
 6   ApplicantIncome    1142 non-null   int64
 7   CoapplicantIncome  1142 non-null   int64
 8   LoanAmount         1101 non-null   Int64
 9   Loan_Amount_Term   1142 non-null   int64
 10  Credit_History     1142 non-null   int64
 11  Property_Area      1142 non-null   object
 12  Loan_Status        1142 non-null   object
dtypes: Int64(1), int64(5), object(7)
memory usage: 117.2+ KB

# 2. Handling Missing Values

In [10]:
# Replace empty strings with NaN
bank_df.replace('', pd.NA, inplace=True)

def missing_values(dataframe):
    # Calculate the percentage of missing values in each column
    missing_values = (dataframe.isna().sum() * 100 / len(dataframe)).round(2)

    print("Behold! The Mystical Distribution of Missing Values:")
    print("----------------------------------------------------")
    print("Column Name             |   Missing Percentage   ")
    print("-----------------------------------------------")

    # Iterate over each column and its corresponding missing percentage
    for column, percentage in missing_values.items():
        print(f"{column.ljust(23)} | {str(percentage).rjust(20)}%")

    print("----------------------------------------------------")

missing_values(bank_df)

Behold! The Mystical Distribution of Missing Values:
----------------------------------------------------
Column Name             |   Missing Percentage
-----------------------------------------------
Loan_ID                 |                  0.0%
Gender                  |                  2.1%
Married                 |                 0.26%
Dependents              |                  0.0%
Education               |                  0.0%
Self_Employed           |                 4.64%
ApplicantIncome         |                  0.0%
CoapplicantIncome       |                  0.0%
LoanAmount              |                 3.59%
Loan_Amount_Term        |                  0.0%
Credit_History          |                  0.0%
Property_Area           |                  0.0%
Loan_Status             |                  0.0%
----------------------------------------------------

In [11]:
# Substitute missing values with the mode for categorical columns and the mean for continuous colunms.

# Categorical Columns
bank_df['Gender'] = bank_df['Gender'].fillna(bank_df['Gender'].mode()[0])
bank_df['Married'] = bank_df['Married'].fillna(bank_df['Married'].mode()[0])
bank_df['Self_Employed'] = bank_df['Self_Employed'].fillna(bank_df['Self_Employed'].mode()[0])

# Continious column
bank_df['LoanAmount'] = bank_df['LoanAmount'].fillna(bank_df['LoanAmount'].mean().round())

In [12]:
missing_values(bank_df)

Behold! The Mystical Distribution of Missing Values:
----------------------------------------------------
Column Name             |   Missing Percentage
-----------------------------------------------
Loan_ID                 |                  0.0%
Gender                  |                  0.0%
Married                 |                  0.0%
Dependents              |                  0.0%
Education               |                  0.0%
Self_Employed           |                  0.0%
ApplicantIncome         |                  0.0%
CoapplicantIncome       |                  0.0%
LoanAmount              |                  0.0%
Loan_Amount_Term        |                  0.0%
Credit_History          |                  0.0%
Property_Area           |                  0.0%
Loan_Status             |                  0.0%
----------------------------------------------------

In [13]:
bank_df2 = bank_df.drop('Loan_ID', axis =1)
bank_df2.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0,146,360,1,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
4,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y

# 3. Handling categorical columns

In [14]:
# from 0 - 1 we gonna represent with each category
bank_df2['Gender'] = bank_df['Gender'].map({'Male':1,'Female':0}).astype('int')
bank_df2['Married'] = bank_df['Married'].map({'Yes':1,'No':0}).astype('int')
bank_df2['Education'] = bank_df['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
bank_df2['Self_Employed'] = bank_df['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
bank_df2['Property_Area'] = bank_df['Property_Area'].map({'Rural':0,'Semiurban':1,'Urban':2}).astype('int')
bank_df2['Loan_Status'] = bank_df['Loan_Status'].map({'Y':1,'N':0}).astype('int')

In [15]:
# have a look on the data
bank_df2.sample(7)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
623,1,1,1,1,0,3988,0,50,240,1,2,1
871,1,1,2,1,1,9323,7873,380,300,1,0,1
1000,1,1,1,1,1,2895,0,95,360,1,1,1
513,1,1,2,1,0,3159,461,108,84,1,2,1
775,1,0,0,1,0,2060,2209,134,360,1,1,1
635,1,1,0,0,0,4188,0,115,180,1,1,1
1075,0,1,0,1,0,3166,0,36,360,1,1,1

### Store Feature Matrix In X And Response (Target) In Vector y

In [16]:
X = bank_df2.drop('Loan_Status', axis =1)
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,1,0,5849,0,146,360,1,2
1,1,1,1,1,0,4583,1508,128,360,1,0
2,1,1,0,1,1,3000,0,66,360,1,2
3,1,1,0,0,0,2583,2358,120,360,1,2
4,1,0,0,1,0,6000,0,141,360,1,2

In [17]:
y = bank_df2['Loan_Status']
y

0       1
1       0
2       1
3       1
4       1
       ..
1137    0
1138    1
1139    1
1140    0
1141    1
Name: Loan_Status, Length: 1142, dtype: int32

**Feautre Scaling**

In [18]:
# List of columns to be scale
scale_cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [19]:
from sklearn.preprocessing import StandardScaler

# Initialize StandardScaler object
sc = StandardScaler()

# Scale the selected columns in the feature matrix X
X[scale_cols]=sc.fit_transform(X[scale_cols])

In [20]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,1,0,0.055798,-0.608095,-0.002535,0.277710,1,2
1,1,1,1,1,0,-0.145921,-0.011970,-0.217867,0.277710,1,0
2,1,1,0,1,1,-0.398149,-0.608095,-0.959566,0.277710,1,2
3,1,1,0,0,0,-0.464592,0.324043,-0.313570,0.277710,1,2
4,1,0,0,1,0,0.079858,-0.608095,-0.062349,0.277710,1,2
...,...,...,...,...,...,...,...,...,...,...,...
1137,1,0,0,0,0,-0.437187,-0.608095,-0.971529,-0.650157,1,0
1138,1,0,0,1,0,-0.477817,7.298081,-0.516939,0.277710,1,1
1139,0,0,0,0,0,-0.563380,-0.608095,-1.115084,0.277710,1,1
1140,0,0,0,1,1,0.309460,-0.608095,0.571684,0.277710,1,0
1141,0,0,0,1,0,-0.151657,-0.608095,-0.373385,0.277710,1,1

10. Splitting The Dataset Into The Training Set And Test Set & Applying K-Fold Cross Validation

In [21]:
# Import necessary libraries for model evaluation
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [22]:
# Create an empty dictionary to store model evaluation results
model_df ={}
def model_val(model, X, y):
    """
    Train and evaluate a machine learning model.
    
    Parameters:
        model: Machine learning model object
            The model to be trained and evaluated.
        X: array-like, shape (n_samples, n_features)
            The feature matrix.
        y: array-like, shape (n_samples,)
            The target values.
            
    Returns:
        None
    """
    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size = 0.20, random_state = 47)
    
    # Train the model
    model.fit(X_train, y_train)
    # Make predictions on the test set
    y_pred = model.predict(X_test)
    
    # Calculate and print the accuracy of the model
    print(f"{model} accuracy is {accuracy_score(y_test,y_pred)}")
    
    # Perform cross-validation and calculate the average score
    score = cross_val_score(model,X,y,cv =5)
    # Print the average cross-validation score
    print(f"{model} Avg cross val score is{np.mean(score)}")
    
    # Store the model's average cross-validation score in the model dictionary
    model_df[model] = round(np.mean(score)*100,2)

**Logistic Regression**

In [23]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model_val(model, X,y)

LogisticRegression() accuracy is 0.7816593886462883
LogisticRegression() Avg cross val score is0.81087106412319

**SVC**

In [24]:
from sklearn import svm
model =svm.SVC()
model_val(model,X,y)

SVC() accuracy is 0.8078602620087336
SVC() Avg cross val score is0.8292614724584386

**Decision Tree Classifier**

In [25]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model_val(model,X,y)

DecisionTreeClassifier() accuracy is 0.9519650655021834
DecisionTreeClassifier() Avg cross val score is0.9973760821267141

**Random Forest Classifier**

In [26]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model_val(model,X,y)

RandomForestClassifier() accuracy is 0.9694323144104804
RandomForestClassifier() Avg cross val score is0.9973760821267141

**Gradient Boosting Classifier**

In [27]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model_val(model,X,y)

GradientBoostingClassifier() accuracy is 0.8427947598253275
GradientBoostingClassifier() Avg cross val score is0.8677928445568067

**Hyperparameter Tuning**

In [28]:
from sklearn.model_selection import RandomizedSearchCV

**Logistic Regression**

In [29]:
# Define a grid of hyperparameters for logistic regression
log_reg_grid={"C":np.logspace(-4,4,20), # Regularization parameter values ranging from 10^-4 to 10^4
             "solver":['liblinear']} # Optimization algorithm for logistic regression

In [30]:
# Randomized search for hyperparameter tuning with logistic regression
rs_log_reg=RandomizedSearchCV(LogisticRegression(),
                   param_distributions=log_reg_grid,
                  n_iter=20,cv=5,verbose=True)

In [31]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [32]:
rs_log_reg.best_score_

0.81087106412319

In [33]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

**SVC**

In [34]:
svc_grid = {'C':[0.25,0.50,0.75,1],"kernel":["linear"]}

In [35]:
rs_svc=RandomizedSearchCV(svm.SVC(),
                  param_distributions=svc_grid,
                   cv=6,
                   n_iter=20,
                  verbose=True)

In [36]:
rs_svc.fit(X,y)

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:307: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 6 folds for each of 4 candidates, totalling 24 fits

RandomizedSearchCV(cv=6, estimator=SVC(), n_iter=20,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [37]:
rs_svc.best_score_

0.8108799485625057

In [38]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

**Random Forest Classifier**

In [39]:
RandomForestClassifier()

RandomForestClassifier()

In [40]:
rf_grid={'n_estimators':np.arange(10,1000,10),
  'max_features':['auto','sqrt'],
 'max_depth':[None,3,5,10,20,30],
 'min_samples_split':[2,5,20,50,100],
 'min_samples_leaf':[1,2,5,10]
 }

In [41]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),
                  param_distributions=rf_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)
rs_rf.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
50 fits failed out of a total of 100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
50 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\USER\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\USER\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\USER\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan 0.8161189  0.82488317 0.88094308 0.8152532  0.83013483
 0.82050486 0.83889144        nan        nan 0.81087106 0.82926147
        nan        nan        nan 0.82488317        nan        nan
        nan        nan]
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [42]:
rs_rf.best_score_

0.8809430782195664

In [43]:
rs_rf.best_params_

{'n_estimators': 910,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'sqrt',
 'max_depth': 10}

**Save the Model**

In [44]:
X = bank_df2.drop('Loan_Status',axis=1)
y = bank_df2['Loan_Status']

In [45]:
rf = RandomForestClassifier(n_estimators=270,
 min_samples_split=5,
 min_samples_leaf=5,
 max_features='sqrt',
 max_depth=5)


rf.fit(X,y)

RandomForestClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                       n_estimators=270)

In [46]:
import joblib

In [47]:
joblib.dump(rf,'loan_status_predict')

['loan_status_predict']

In [48]:
model = joblib.load('loan_status_predict')

In [49]:
import pandas as pd
test_df = pd.DataFrame({
    'Gender':1,
    'Married':1,
    'Dependents':1,
    'Education':1,
    'Self_Employed':0,
    'ApplicantIncome':4024,
    'CoapplicantIncome':0.0,
    'LoanAmount':45,
    'Loan_Amount_Term':180,
    'Credit_History':1,
    'Property_Area':3
},index=[0])

In [50]:
test_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,1,1,0,4024,0.0,45,180,1,3

In [51]:
result = model.predict(test_df)

In [52]:
if result==1:
    print("Loan Approved")
else:
    print("Loan Not Approved")

Loan Approved

# GUI

In [53]:
from tkinter import *
import joblib
import pandas as pd

In [ ]:
def show_entry():
    
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11 = float(e11.get())
    
    model = joblib.load('loan_status_predict')
    df = pd.DataFrame({
    'Gender':p1,
    'Married':p2,
    'Dependents':p3,
    'Education':p4,
    'Self_Employed':p5,
    'ApplicantIncome':p6,
    'CoapplicantIncome':p7,
    'LoanAmount':p8,
    'Loan_Amount_Term':p9,
    'Credit_History':p10,
    'Property_Area':p11
},index=[0])
    result = model.predict(df)
    
    if result == 1:
        Label(master, text="Loan approved").grid(row=31)
    else:
        Label(master, text="Loan Not Approved").grid(row=31)
        
    
master =Tk()
master.title("Loan Status Prediction Using Machine Learning")
label = Label(master,text = "Loan Status Prediction",bg = "black",
               fg = "white").grid(row=0,columnspan=2)

Label(master,text = "Gender [1:Male ,0:Female]").grid(row=1)
Label(master,text = "Married [1:Yes,0:No]").grid(row=2)
Label(master,text = "Dependents [1,2,3,4]").grid(row=3)
Label(master,text = "Education").grid(row=4)
Label(master,text = "Self_Employed").grid(row=5)
Label(master,text = "ApplicantIncome").grid(row=6)
Label(master,text = "CoapplicantIncome").grid(row=7)
Label(master,text = "LoanAmount").grid(row=8)
Label(master,text = "Loan_Amount_Term").grid(row=9)
Label(master,text = "Credit_History").grid(row=10)
Label(master,text = "Property_Area").grid(row=11)


e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)


e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)
e7.grid(row=7,column=1)
e8.grid(row=8,column=1)
e9.grid(row=9,column=1)
e10.grid(row=10,column=1)
e11.grid(row=11,column=1)

Button(master,text="Predict",command=show_entry).grid()

mainloop()